@import "tailwindcss";

@layer base {
  :root {
    --text: #04040c;
    --background: #fbfbfe;
    --primary: #00bf63;
    --secondary: #258a18;
    --accent: #d270ad;
  }

  .dark {
    --text: #f4f4fb;
    --background: #010104;
    --primary: #42ffa4;
    --secondary: #045314;
    --accent: #8f2d6a;
  }
}

@theme inline {
  --color-text: var(--text);
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}
