[project]
name = "server"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "fastapi[all]>=0.121.2",
    "passlib>=1.7.4",
    "python-dotenv>=1.2.1",
    "python-jose>=3.5.0",
]
